a[data-rp-broken] {
  opacity: 0.5;
  pointer-events: none;
  -webkit-text-decoration: red wavy underline;
          text-decoration: red wavy underline;
}

.tippy-box {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.tippy-box .tippy-content {
  padding: 0;
  overflow: hidden;
}
.tippy-box .tippy-content h3,
.tippy-box .tippy-content p,
.tippy-box .tippy-content span,
.tippy-box .tippy-content small,
.tippy-box .tippy-content img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tippy-box .tippy-content .rp-og-preview {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.tippy-box .tippy-content .rp-og-preview-header,
.tippy-box .tippy-content .rp-og-preview-description,
.tippy-box .tippy-content .rp-og-preview-image-wrap {
  display: flex;
}
.tippy-box .tippy-content .rp-og-preview-image-wrap {
  border-radius: 4px;
  overflow: hidden;
}
.tippy-box .tippy-content .rp-og-preview-title-wrap small {
  opacity: 0.6;
  font-size: 0.73rem;
  line-height: 1.3;
}
.tippy-box .tippy-content .rp-og-preview-title-wrap h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.tippy-box .tippy-content .rp-og-preview-favicon-wrap img {
  position: relative;
  top: 0.2em;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
  max-height: 1rem;
  max-width: 100%;
  height: auto;
  width: 1rem;
}
.tippy-box .tippy-content .rp-og-preview-description {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 0.73rem;
  opacity: 0.8;
  line-height: 1.2;
  font-weight: normal;
}
.tippy-box .tippy-content .rp-og-preview-image-wrap {
  background-color: rgba(125, 125, 125, 0.1);
  justify-content: center;
  margin-top: 0.5rem;
}
.tippy-box .tippy-content .rp-og-preview-image-wrap img {
  min-width: 140px;
  max-width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.tippy-box[data-theme~=translucent] .rp-og-preview-image-wrap {
  background-color: rgba(125, 125, 125, 0.5);
}
.tippy-box[data-theme~=rp-light], .tippy-box[data-theme~=rp-dark] {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.tippy-box[data-theme~=rp-light] .tippy-content, .tippy-box[data-theme~=rp-dark] .tippy-content {
  border-radius: 4px;
}
.tippy-box[data-theme~=rp-light] .tippy-arrow, .tippy-box[data-theme~=rp-dark] .tippy-arrow {
  color: rgba(255, 255, 255, 0.7);
}
.tippy-box[data-theme~=rp-light] {
  background-color: rgba(255, 255, 255, 0.7);
}
.tippy-box[data-theme~=rp-light] .tippy-content {
  color: black;
}
.tippy-box[data-theme~=rp-dark] {
  background-color: rgba(0, 0, 0, 0.7);
}
.tippy-box[data-theme~=rp-dark] .tippy-content {
  color: white;
}
.tippy-box[data-theme~=rp-dark] .tippy-arrow {
  color: rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=styles.css.map */